# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [2]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [3]:
chipo = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv',delimiter='\t')

chipo.head(5)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

### Step 4. How many products cost more than $10.00?

In [4]:
price = [float(value[1:-1]) for value in chipo.item_price]
chipo.item_price = price

In [7]:
chipo_count =chipo.drop_duplicates(subset=['item_name', 'quantity', 'choice_description'])
chipo_count.query('quantity == 1 and item_price >10').item_name.nunique()

25

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [21]:
chipo_prices = chipo_count.query('quantity == 1').drop_duplicates(subset=['item_name', 'item_price']).sort_values(by='item_price', ascending=False)[['item_name', 'item_price']]
display(chipo_prices)

                  item_name  item_price
1132    Carnitas Salad Bowl       11.89
1229    Barbacoa Salad Bowl       11.89
606        Steak Salad Bowl       11.89
39            Barbacoa Bowl       11.75
1008  Carnitas Crispy Tacos       11.75
...                     ...         ...
40                    Chips        2.15
6             Side of Chips        1.69
263       Canned Soft Drink        1.25
28              Canned Soda        1.09
34            Bottled Water        1.09

[128 rows x 2 columns]

 Step 6. Sort by the name of the item

In [38]:
display(chipo.sort_values(by='item_name'))

,order_id,quantity,item_name,choice_description,item_price
3389,1360,2,6 Pack Soft Drink,[Diet Coke],12.98
341,148,1,6 Pack Soft Drink,[Diet Coke],6.49
1849,749,1,6 Pack Soft Drink,[Coke],6.49
1860,754,1,6 Pack Soft Drink,[Diet Coke],6.49
2713,1076,1,6 Pack Soft Drink,[Coke],6.49
...,...,...,...,...,...
2384,948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75
781,322,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",8.75
2851,1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",8.49
1699,688,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
1395,567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",8.49

### Step 7. What was the quantity of the most expensive item ordered?

In [48]:
max_price = chipo.item_price.max()
chipo.loc[chipo['item_price'] == max_price].quantity.iloc[0]

15

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [47]:
chipo.query('item_name == "Veggie Salad Bowl"').groupby(by='item_name').order_id.count().iloc[0]

18

### Step 9. How many times did someone order more than one Canned Soda?

In [56]:
chipo.loc[(chipo['item_name'] == 'Canned Soda') & (chipo['quantity'] >1)].count().iloc[0]

20